@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.App {
  /* background-color: black;
   */
  /* background-color: #353535; */
  color: rgb(224, 224, 125);
  position: relative;
  background-image: url("./img/textures/asfalt-light.png");

  /* background-size: cover; */
  /* background-image: url("./img/textures/inspiration-geometry.png"); */
  /* scroll-behavior: smooth; */
  /* border: 10px solid goldenrod; */
  /* padding: 2rem; */
}
title {
  color: yellow;
}
